/2026/IF2B/PBO/Debugging/nbproject/private/
/2026/IF2B/PBO/Debugging/build/
/2026/IF2B/PBO/PertemuanBasicGUI/nbproject/private/
/2026/IF2B/PBO/PertemuanBasicGUI/build/
/2026/IF2B/PBO/PertemuanBasicGUI/dist/
/2026/IF2B/PBO/GraphicalUserInterface/nbproject/private/
/2026/IF2B/PBO/GraphicalUserInterface/build/
/2026/IF2B/PBO/BelajarButton/nbproject/private/
/2026/IF2B/PBO/BelajarButton/build/
/2026/IF2B/PBO/GUI_NAMA/nbproject/private/
/2026/IF2B/PBO/GUI_NAMA/build/
